<a href="https://store.steampowered.com/app/594650/Hunt_Showdown/?snr=1_4_660__629" class="hero_click_overlay"></a>
<img class="hero_capsule_img"
     src="https://cdn.cloudflare.steamstatic.com/steam/apps/594650/hero_capsule.jpg?t=1669136183"
     data-src="https://cdn.cloudflare.steamstatic.com/steam/apps/594650/hero_capsule.jpg?t=1669136183">
<div class="hover_screenshots">
    <div class="hover_video_container hero_screenshot_load"
         data-background="url( https://cdn.cloudflare.steamstatic.com/steam/apps/594650/ss_ecccaab1143081ca96d8bf00d8b1c4d3d3291e64.600x338.jpg?t=1669136183  )"
         style="background-image: url(&quot;https://cdn.cloudflare.steamstatic.com/steam/apps/594650/ss_ecccaab1143081ca96d8bf00d8b1c4d3d3291e64.600x338.jpg?t=1669136183&quot;);">
        <video class="hero_video" loop="" preload="none" muted="muted" data-fullscreen-container="true">
            <source src="https://cdn.cloudflare.steamstatic.com/steam/apps/256893785/microtrailer.webm?t=1656430960?v=3"
                    type="video/webm">
        </video>
    </div>
</div>
<div class="hero_data">
    <div class="hero_data_content">
        <div class="hero_name">Hunt: Showdown</div>
        <div class="hero_stat">
            <span class="label">Developer:</span>
            <span class="data">
													<a href="https://store.steampowered.com/developer/Crytek?snr=1_4_660__629">Crytek</a>												</span>
        </div>
        <div class="hero_stat">
            <span class="label">Publisher:</span>
            <span class="data">
														<a href="https://store.steampowered.com/publisher/Crytek?snr=1_4_660__629">Crytek</a>												</span>
        </div>
        <div class="hero_stat" data-tooltip-html="84% of the 113,822 user reviews for this game are positive.">
            <span class="label">All Reviews:</span>
            <span class="data">
													<span class="game_review_summary positive">
														Very Positive													</span>
													<span style="color: #AEAEAE; ">(113,822)</span>
												</span>
        </div>
    </div>
    <div class="hero_add_to_cart">
        <button class="btn_green_white_innerfade btn_medium" type="button" onclick="addToCart( 155279 );">
            <span>Add to Cart</span>
        </button>
    </div>
</div>

<div class="discount_block discount_block_inline hero_discount" data-price-final="1960">
    <div class="discount_pct">-60%</div>
    <div class="discount_prices">
        <div class="discount_original_price">S$49.00</div>
        <div class="discount_final_price">S$19.60</div>
    </div>
</div>