<div class="home_page_content">
    <h2 class="home_page_content_title">Featured &amp; Recommended</h2>
    <div id="home_maincap_v7" class="carousel_container maincap">
        <div class="carousel_items responsive_scroll_snap_ctn"
             data-panel="{&quot;bFocusRingRoot&quot;:true,&quot;flow-children&quot;:&quot;row&quot;}"><a
                class="store_main_capsule responsive_scroll_snap_start broadcast_capsule" data-manual-tracking="1"
                data-ds-appid="1912380"
                href="https://store.steampowered.com/app/1912380/Soccer_Story/?snr=1_4_4__100_1">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/capsule_616x353_alt_assets_0.jpg?t=1669745167"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/capsule_616x353_alt_assets_0.jpg?t=1669745167&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_4a8f8d4f118a759e48a6850aca99b115978bdd8a.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_4a8f8d4f118a759e48a6850aca99b115978bdd8a.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a560952d1dea793ad0390544da13d20b842a7e08.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a560952d1dea793ad0390544da13d20b842a7e08.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a6cfd504f7759c651d96d813900423fe80acdf33.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a6cfd504f7759c651d96d813900423fe80acdf33.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a0b7c117e60289110f4869175c437ad76de90a56.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a0b7c117e60289110f4869175c437ad76de90a56.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Soccer Story</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_4a8f8d4f118a759e48a6850aca99b115978bdd8a.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_4a8f8d4f118a759e48a6850aca99b115978bdd8a.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a560952d1dea793ad0390544da13d20b842a7e08.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a560952d1dea793ad0390544da13d20b842a7e08.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a6cfd504f7759c651d96d813900423fe80acdf33.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a6cfd504f7759c651d96d813900423fe80acdf33.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a0b7c117e60289110f4869175c437ad76de90a56.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1912380/ss_a0b7c117e60289110f4869175c437ad76de90a56.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional"></div>
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="184500">
                    <div class="discount_pct">-10%</div>
                    <div class="discount_prices">
                        <div class="discount_original_price">¥ 2,050</div>
                        <div class="discount_final_price">¥ 1,845</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule" data-manual-tracking="1"
               data-ds-appid="2064650"
               href="https://store.steampowered.com/app/2064650/Tower_of_Fantasy/?snr=1_4_4__129_2"
               data-ds-tagids="[122,19,1754,4106,4231,5395,4085,4145,4195,5984,1695,3835,3942,4295,4115,113,5796,1742,128,1775]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/capsule_616x353.jpg?t=1669112885"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/capsule_616x353.jpg?t=1669112885&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_fbbf60f934d267f86c8a26e7e97655803d831566.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_fbbf60f934d267f86c8a26e7e97655803d831566.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_9f1f64bfe3040773990b05d2f9d0b26a106ee239.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_9f1f64bfe3040773990b05d2f9d0b26a106ee239.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_168c37b14e049c83a6529a7359fecfe6dbba09ab.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_168c37b14e049c83a6529a7359fecfe6dbba09ab.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_50d4ad99157621e1ffaafe0c575a31665afed4c5.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_50d4ad99157621e1ffaafe0c575a31665afed4c5.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Tower of Fantasy</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_fbbf60f934d267f86c8a26e7e97655803d831566.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_fbbf60f934d267f86c8a26e7e97655803d831566.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_9f1f64bfe3040773990b05d2f9d0b26a106ee239.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_9f1f64bfe3040773990b05d2f9d0b26a106ee239.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_168c37b14e049c83a6529a7359fecfe6dbba09ab.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_168c37b14e049c83a6529a7359fecfe6dbba09ab.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_50d4ad99157621e1ffaafe0c575a31665afed4c5.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/2064650/ss_50d4ad99157621e1ffaafe0c575a31665afed4c5.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="0">
                    <div class="discount_prices">
                        <div class="discount_final_price">Free To Play</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule" data-manual-tracking="1"
               data-ds-appid="1938090"
               href="https://store.steampowered.com/app/1938090/Call_of_Duty_Modern_Warfare_II/?snr=1_4_4__129_3"
               data-ds-tagids="[1663,19,1774,3859,4182,4168,3839,5673,1678,1708,4175,4667,1742,1685,4166,5611,3843,4345,3814,1697]"
               data-ds-descids="[2,5]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/capsule_616x353.jpg?t=1668813907"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/capsule_616x353.jpg?t=1668813907&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_2d07e12de41060e3aa700b1a207e04ad92175aa4.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_2d07e12de41060e3aa700b1a207e04ad92175aa4.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_1f1f380757cd18aecd83344329e8ed223b03a427.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_1f1f380757cd18aecd83344329e8ed223b03a427.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_b7d2f0b086a9d7d27fbab073e6fabd304ba5a908.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_b7d2f0b086a9d7d27fbab073e6fabd304ba5a908.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_e01ffb1c1ffa22e06ae99dc6fb71f56c91b5b0cc.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_e01ffb1c1ffa22e06ae99dc6fb71f56c91b5b0cc.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Call of Duty®: Modern Warfare® II</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_2d07e12de41060e3aa700b1a207e04ad92175aa4.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_2d07e12de41060e3aa700b1a207e04ad92175aa4.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_1f1f380757cd18aecd83344329e8ed223b03a427.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_1f1f380757cd18aecd83344329e8ed223b03a427.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_b7d2f0b086a9d7d27fbab073e6fabd304ba5a908.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_b7d2f0b086a9d7d27fbab073e6fabd304ba5a908.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_e01ffb1c1ffa22e06ae99dc6fb71f56c91b5b0cc.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_e01ffb1c1ffa22e06ae99dc6fb71f56c91b5b0cc.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="968000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 9,680</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule" data-manual-tracking="1"
               data-ds-appid="1793030"
               href="https://store.steampowered.com/app/1793030/Romancing_SaGa_Minstrel_Song_Remastered/?snr=1_4_4__129_4"
               data-ds-tagids="[122,1677,4434,7208,4191,4325,6971,1742,4085,1684,5984,4182,5708,7948]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/capsule_616x353.jpg?t=1666164700"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/capsule_616x353.jpg?t=1666164700&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_159aae87ffc2caca335e67bfa772deeb3813d572.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_159aae87ffc2caca335e67bfa772deeb3813d572.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_6f0393eb802912a3a30825b7d732f8e800d4d73b.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_6f0393eb802912a3a30825b7d732f8e800d4d73b.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_4e67e8dcbdbf699283430893de164d03c6fb3bea.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_4e67e8dcbdbf699283430893de164d03c6fb3bea.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_2944fd2c529fe298a536c3ada3558e66aec013c1.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_2944fd2c529fe298a536c3ada3558e66aec013c1.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Romancing SaGa -Minstrel Song- Remastered</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_159aae87ffc2caca335e67bfa772deeb3813d572.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_159aae87ffc2caca335e67bfa772deeb3813d572.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_6f0393eb802912a3a30825b7d732f8e800d4d73b.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_6f0393eb802912a3a30825b7d732f8e800d4d73b.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_4e67e8dcbdbf699283430893de164d03c6fb3bea.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_4e67e8dcbdbf699283430893de164d03c6fb3bea.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_2944fd2c529fe298a536c3ada3558e66aec013c1.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1793030/ss_2944fd2c529fe298a536c3ada3558e66aec013c1.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Pre-Purchase Now</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="583000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 5,830</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule" data-manual-tracking="1"
               data-ds-appid="1846380"
               href="https://store.steampowered.com/app/1846380/Need_for_Speed_Unbound/?snr=1_4_4__129_5"
               data-ds-tagids="[699,19,3859,4747,4182,4102,1695,1644,4085,1773,597,7481,1621,3843,4166,701,21,10816,599,3934]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/capsule_616x353.jpg?t=1669646056"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/capsule_616x353.jpg?t=1669646056&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_e70f539b3db31a98f8c74a24dfc0fc860e5e0f5b.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_e70f539b3db31a98f8c74a24dfc0fc860e5e0f5b.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_10f038c463e7f1a3536af06776524baba7da6ce7.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_10f038c463e7f1a3536af06776524baba7da6ce7.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_9974a58ee8832aecf93219096fa749267c420dbf.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_9974a58ee8832aecf93219096fa749267c420dbf.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_1aa5971ad94c8db58d4736f4d462e79c71f8b037.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_1aa5971ad94c8db58d4736f4d462e79c71f8b037.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Need for Speed™ Unbound</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_e70f539b3db31a98f8c74a24dfc0fc860e5e0f5b.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_e70f539b3db31a98f8c74a24dfc0fc860e5e0f5b.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_10f038c463e7f1a3536af06776524baba7da6ce7.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_10f038c463e7f1a3536af06776524baba7da6ce7.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_9974a58ee8832aecf93219096fa749267c420dbf.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_9974a58ee8832aecf93219096fa749267c420dbf.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_1aa5971ad94c8db58d4736f4d462e79c71f8b037.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1846380/ss_1aa5971ad94c8db58d4736f4d462e79c71f8b037.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Pre-Purchase Now</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="970000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 9,700</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1449850"
               href="https://store.steampowered.com/app/1449850/YuGiOh_Master_Duel/?snr=1_4_4__129_6"
               data-ds-tagids="[1666,113,9,9271,1775,791774,3859,599,4085,14139,1708,5055,4182,1684,4046,3978,6730,4191,3871,1756]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/capsule_616x353.jpg?t=1648616316"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/capsule_616x353.jpg?t=1648616316&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_6501d1b0e2dc14a5e1031d5e02456d9b72912a0b.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_6501d1b0e2dc14a5e1031d5e02456d9b72912a0b.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_f4e2257edc1cb8093f1f0b40d7daf96211405f90.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_f4e2257edc1cb8093f1f0b40d7daf96211405f90.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_7de501a6f2c485aef22eed9c3b79e761c26c4d1a.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_7de501a6f2c485aef22eed9c3b79e761c26c4d1a.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_e568cc7bd1896039e2383f48488a262d873fbf20.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_e568cc7bd1896039e2383f48488a262d873fbf20.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Yu-Gi-Oh! Master Duel</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_6501d1b0e2dc14a5e1031d5e02456d9b72912a0b.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_6501d1b0e2dc14a5e1031d5e02456d9b72912a0b.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_f4e2257edc1cb8093f1f0b40d7daf96211405f90.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_f4e2257edc1cb8093f1f0b40d7daf96211405f90.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_7de501a6f2c485aef22eed9c3b79e761c26c4d1a.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_7de501a6f2c485aef22eed9c3b79e761c26c4d1a.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_e568cc7bd1896039e2383f48488a262d873fbf20.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1449850/ss_e568cc7bd1896039e2383f48488a262d873fbf20.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="0">
                    <div class="discount_prices">
                        <div class="discount_final_price">Free To Play</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1091500"
               href="https://store.steampowered.com/app/1091500/Cyberpunk_2077/?snr=1_4_4__129_7"
               data-ds-tagids="[4115,1695,122,6650,4182,3942,4295,1663,3839,1742,5611,4166,3834,19,4667,1756,4231,21,4747,9204]"
               data-ds-descids="[1,2,5]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/capsule_616x353.jpg?t=1663663573"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/capsule_616x353.jpg?t=1663663573&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_4bda6f67580d94832ed2d5814e41ebe018ba1d9e.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_4bda6f67580d94832ed2d5814e41ebe018ba1d9e.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_9284d1c5b248726760233a933dbb83757d7d5d95.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_9284d1c5b248726760233a933dbb83757d7d5d95.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_b529b0abc43f55fc23fe8058eddb6e37c9629a6a.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_b529b0abc43f55fc23fe8058eddb6e37c9629a6a.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_8640d9db74f7cad714f6ecfb0e1aceaa3f887e58.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_8640d9db74f7cad714f6ecfb0e1aceaa3f887e58.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Cyberpunk 2077</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_4bda6f67580d94832ed2d5814e41ebe018ba1d9e.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_4bda6f67580d94832ed2d5814e41ebe018ba1d9e.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_9284d1c5b248726760233a933dbb83757d7d5d95.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_9284d1c5b248726760233a933dbb83757d7d5d95.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_b529b0abc43f55fc23fe8058eddb6e37c9629a6a.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_b529b0abc43f55fc23fe8058eddb6e37c9629a6a.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_8640d9db74f7cad714f6ecfb0e1aceaa3f887e58.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1091500/ss_8640d9db74f7cad714f6ecfb0e1aceaa3f887e58.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="877800">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 8,778</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="346110"
               href="https://store.steampowered.com/app/346110/ARK_Survival_Evolved/?snr=1_4_4__129_8"
               data-ds-tagids="[1100689,1662,1695,3859,5160,1702,1643,21,7332,1685,19,3839,3810,128,4182,493,122,4046,3942,492]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/capsule_616x353_alt_assets_21.jpg?t=1669254188"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/capsule_616x353_alt_assets_21.jpg?t=1669254188&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_01cbef83fe28d64ee5a3d39a86043fb1e49abd31.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_01cbef83fe28d64ee5a3d39a86043fb1e49abd31.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_2fd997a2f7151cb2187043a1f41589cc6a9ebf3a.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_2fd997a2f7151cb2187043a1f41589cc6a9ebf3a.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_164a92a53f9bcbb728b391fc0719f9769c2e1249.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_164a92a53f9bcbb728b391fc0719f9769c2e1249.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_46778c08a1a5ac5bdbaf8a5bf844fa666f66a14b.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_46778c08a1a5ac5bdbaf8a5bf844fa666f66a14b.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>ARK: Survival Evolved</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_01cbef83fe28d64ee5a3d39a86043fb1e49abd31.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_01cbef83fe28d64ee5a3d39a86043fb1e49abd31.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_2fd997a2f7151cb2187043a1f41589cc6a9ebf3a.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_2fd997a2f7151cb2187043a1f41589cc6a9ebf3a.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_164a92a53f9bcbb728b391fc0719f9769c2e1249.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_164a92a53f9bcbb728b391fc0719f9769c2e1249.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_46778c08a1a5ac5bdbaf8a5bf844fa666f66a14b.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/346110/ss_46778c08a1a5ac5bdbaf8a5bf844fa666f66a14b.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Just Updated</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="205000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 2,050</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span><span class="platform_img mac"></span>
                </div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1174180"
               href="https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/?snr=1_4_4__129_9"
               data-ds-tagids="[1695,1742,21,1647,19,3859,4175,1774,4182,4166,3814,6041,5411,5611,1756,1697,3810,4345,3839,1663]"
               data-ds-descids="[5]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/capsule_616x353.jpg?t=1656615305"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/capsule_616x353.jpg?t=1656615305&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_4ce07ae360b166f0f650e9a895a3b4b7bf15e34f.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_4ce07ae360b166f0f650e9a895a3b4b7bf15e34f.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_668dafe477743f8b50b818d5bbfcec669e9ba93e.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_668dafe477743f8b50b818d5bbfcec669e9ba93e.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_d1a8f5a69155c3186c65d1da90491fcfd43663d9.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_d1a8f5a69155c3186c65d1da90491fcfd43663d9.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_66b553f4c209476d3e4ce25fa4714002cc914c4f.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_66b553f4c209476d3e4ce25fa4714002cc914c4f.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Red Dead Redemption 2</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_4ce07ae360b166f0f650e9a895a3b4b7bf15e34f.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_4ce07ae360b166f0f650e9a895a3b4b7bf15e34f.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_668dafe477743f8b50b818d5bbfcec669e9ba93e.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_668dafe477743f8b50b818d5bbfcec669e9ba93e.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_d1a8f5a69155c3186c65d1da90491fcfd43663d9.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_d1a8f5a69155c3186c65d1da90491fcfd43663d9.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_66b553f4c209476d3e4ce25fa4714002cc914c4f.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1174180/ss_66b553f4c209476d3e4ce25fa4714002cc914c4f.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="861800">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 8,618</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1446780"
               href="https://store.steampowered.com/app/1446780/MONSTER_HUNTER_RISE/?snr=1_4_4__129_10"
               data-ds-tagids="[19,122,3843,9564,3859,4231,4747,1685,4434,1697,4182,6730,4085,1684,30358,4191,29482,4166,4046,1688]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/capsule_616x353.jpg?t=1669747261"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/capsule_616x353.jpg?t=1669747261&quot;);">
                <div class="broadcast_live_stream_icon">Live</div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_961c552a99c5c64689bebf0e272b13c80947f644.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_961c552a99c5c64689bebf0e272b13c80947f644.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_d8d96313f1049c800d37a3fc521f06f926fca3ac.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_d8d96313f1049c800d37a3fc521f06f926fca3ac.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_f8249da14987e3c2d10fd4024736f28774c713da.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_f8249da14987e3c2d10fd4024736f28774c713da.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_25686086b61ca88a859bc20d588682be92ab4d63.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_25686086b61ca88a859bc20d588682be92ab4d63.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>MONSTER HUNTER RISE</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_961c552a99c5c64689bebf0e272b13c80947f644.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_961c552a99c5c64689bebf0e272b13c80947f644.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_d8d96313f1049c800d37a3fc521f06f926fca3ac.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_d8d96313f1049c800d37a3fc521f06f926fca3ac.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_f8249da14987e3c2d10fd4024736f28774c713da.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_f8249da14987e3c2d10fd4024736f28774c713da.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_25686086b61ca88a859bc20d588682be92ab4d63.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1446780/ss_25686086b61ca88a859bc20d588682be92ab4d63.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="399000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 3,990</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1121560"
               href="https://store.steampowered.com/app/1121560/Atelier_Ryza_Ever_Darkness__the_Secret_Hideout/?snr=1_4_4__129_11"
               data-ds-tagids="[122,4085,4434,7208,4726,12095,1702,4182,21,1756,1684,1677,1695,4325,6650,19,1742,3834,4747,9130]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/capsule_616x353.jpg?t=1663128038"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/capsule_616x353.jpg?t=1663128038&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_5da72f636068a4001b5f3ccfec19971e638a6945.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_5da72f636068a4001b5f3ccfec19971e638a6945.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_91644d1e400a2d9fa4b148efb9b9c73cd2683b4a.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_91644d1e400a2d9fa4b148efb9b9c73cd2683b4a.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_84cdc6f39fd6179e9b8f2c5f29bd7b995497357d.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_84cdc6f39fd6179e9b8f2c5f29bd7b995497357d.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_9e5e57b33bde73db4fcfa59d4230924ee91c9c6e.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_9e5e57b33bde73db4fcfa59d4230924ee91c9c6e.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Atelier Ryza: Ever Darkness &amp; the Secret Hideout</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_5da72f636068a4001b5f3ccfec19971e638a6945.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_5da72f636068a4001b5f3ccfec19971e638a6945.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_91644d1e400a2d9fa4b148efb9b9c73cd2683b4a.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_91644d1e400a2d9fa4b148efb9b9c73cd2683b4a.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_84cdc6f39fd6179e9b8f2c5f29bd7b995497357d.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_84cdc6f39fd6179e9b8f2c5f29bd7b995497357d.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_9e5e57b33bde73db4fcfa59d4230924ee91c9c6e.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1121560/ss_9e5e57b33bde73db4fcfa59d4230924ee91c9c6e.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="858000">
                    <div class="discount_prices">
                        <div class="discount_final_price">¥ 8,580</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a><a class="store_main_capsule responsive_scroll_snap_start broadcast_capsule focus app_impression_tracked"
               data-manual-tracking="1" data-ds-appid="1172470"
               href="https://store.steampowered.com/app/1172470/Apex_Legends/?snr=1_4_4__129_12"
               data-ds-tagids="[113,3859,176981,1774,3839,1663,1775,19,620519,5711,1708,1662,4747,3942,4236,4136,3854,1685,4115,4145]">
            <div class="capsule main_capsule"
                 data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/capsule_616x353.jpg?t=1667588841"
                 style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/capsule_616x353.jpg?t=1667588841&quot;);">
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_f24c65d055b8553d16465e1c990e2109c52a6ab7.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_f24c65d055b8553d16465e1c990e2109c52a6ab7.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_371730b9cd26012247b7cf4c681074ae3981dc94.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_371730b9cd26012247b7cf4c681074ae3981dc94.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_5c150b9e86863e73fa4924657f6109db0e3b46a1.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_5c150b9e86863e73fa4924657f6109db0e3b46a1.600x338.jpg&quot;);"></div>
                <div class="screenshot"
                     data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_8c78c0e6ac38afe01573ba2961ffecfe6fae626b.600x338.jpg"
                     style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_8c78c0e6ac38afe01573ba2961ffecfe6fae626b.600x338.jpg&quot;);"></div>
            </div>
            <div class="info">
                <div class="app_name">
                    <div>Apex Legends™</div>
                </div>
                <div class="screenshots">
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_f24c65d055b8553d16465e1c990e2109c52a6ab7.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_f24c65d055b8553d16465e1c990e2109c52a6ab7.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_371730b9cd26012247b7cf4c681074ae3981dc94.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_371730b9cd26012247b7cf4c681074ae3981dc94.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_5c150b9e86863e73fa4924657f6109db0e3b46a1.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_5c150b9e86863e73fa4924657f6109db0e3b46a1.600x338.jpg&quot;);"></div>
                    </div>
                    <div>
                        <div data-background-image-url="https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_8c78c0e6ac38afe01573ba2961ffecfe6fae626b.600x338.jpg"
                             style="background-image: url(&quot;https://cdn.akamai.steamstatic.com/steam/apps/1172470/ss_8c78c0e6ac38afe01573ba2961ffecfe6fae626b.600x338.jpg&quot;);"></div>
                    </div>
                </div>
                <div class="reason">
                    <div class="main default">Now Available</div>
                    <div class="additional">
                        <div>Top Seller</div>
                    </div>
                </div>
                <div class="discount_block  no_discount discount_block_inline" data-price-final="0">
                    <div class="discount_prices">
                        <div class="discount_final_price">Free to Play</div>
                    </div>
                </div>
                <div class="platforms"><span class="platform_img win"></span></div>
            </div>
        </a></div>

            <div class="focus"></div>
        </div>
        <div class="arrow left" data-usability="1">
            <div></div>
        </div>
        <div class="arrow right" data-usability="1">
            <div></div>
        </div>
    </div>
</div>